body {
    margin: 60px auto;
    width: 70%;
    max-width: 950px;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p, button, input {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
	margin-bottom:1em;
}

#gameboard {
	display: grid;
	grid-template-columns: repeat(10, 40px);
	grid-template-rows: repeat(10, 40px);
	margin:0 auto 2em auto;
	width:400px;
	height:400px;
}

#gameboard div {
width: 40px;
height: 40px;
}

#infoContainer {
	display: flex;
	flex-direction: row;
}

#guesses {
	display: grid;
	grid-template-columns: repeat(10, 40px);
	grid-template-rows: repeat(10, 40px);
}

#legend {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(7, 40px);
	border: 1px solid black;
	padding: 1rem;
}

#legend div {
	width: 40px;
	height: 40px;
	border: 1px solid black;
}

.carrier {
	background-color: purple;
}

.battleship {
	background-color: blue;
}

.destroyer {
	background-color: orange;
}

.submarine {
	background-color: darkblue;
}

.patrol {
	background-color: pink;
}